@font-face {
  font-family: 'GothamPro Medium';
  src: url('../Assets/GothamPro-Medium.woff') format('woff');
}

body {
  background-image: url("../Assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

input {
  outline-width: 0px;

  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #f0f0f0;

  transition-duration: 0.3s;

  background: #f2f2f2;

  width: calc(90% - 12px);
  height: calc(35px - 22px);

  color: #808080;

  padding: 10px;

  font-size: 15px;
  font-weight: 450;
  
  bold: true;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  position: relative;
  top: 15px;
}

input:focus {
  border-color: #d7b7bc;
  background: #f8f8f8;
}

input::placeholder { 
  color: #c2c2c2;
}

.input-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  color: gray;
  
  text-align: middle;

  position: relative;
  top: -10px;
  
}

#login-form-container {
  position: absolute;

  top: calc(50% - 200px);
  right: calc(50% - 240px);
  
  width: 480px;
  height: 400px;

  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  text-align: center;

  border-style: none;
  border-radius: 10px;

  transition-duration: 0.5s;
}

#login-form {
  position: absolute;

  top: 170px;
  left: 15%;

  width: 70%;
  height: calc(100% - 50px);

}

#login-button {
  border: none;

  width: calc(90% + 8px);
  height: 35px;

  border-radius: 10px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;

  position: relative;
  top: 15px;

  transition-duration: 0.5s;

  background: #c18f98;
  color: white;
}

#login-button:hover {

  background: #a698aa;
  cursor: pointer;

  outline: none;
}

#login-form-title {
  font-family: "GothamPro Medium", serif;
  font-size: 40px;

  position: relative;
  top: 20px;

  color: #c36f6f;
}